@charset "UTF-8";
.wrap_complete_cart {
  width: 600px;
  background: #fff;
  margin: 20px auto 0 auto;
  padding-bottom: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 0; }
  .wrap_complete_cart .picsuccess {
    display: block;
    overflow: visible;
    position: relative;
    text-align: center;
    padding: 15px 10px;
    background: #f8f5f9;
    margin: auto; }
    .wrap_complete_cart .picsuccess img {
      width: 50px;
      display: inline-block;
      margin-right: 15px; }
    .wrap_complete_cart .picsuccess span {
      font-size: 16px;
      font-weight: bold; }
  .wrap_complete_cart .thank {
    display: block;
    overflow: hidden;
    color: #333;
    line-height: 22px;
    padding: 10px 20px; }
  .wrap_complete_cart .infoorder {
    display: block;
    font-size: 12px;
    color: #333;
    padding: 16px 10px 10px;
    background: #f3f3f3;
    margin: auto 20px; }
    .wrap_complete_cart .infoorder .redirect-lsmh {
      text-align: left;
      padding-left: 0; }
      .wrap_complete_cart .infoorder .redirect-lsmh a {
        float: right; }
    .wrap_complete_cart .infoorder .redirect-lsmh:before {
      display: none; }
    .wrap_complete_cart .infoorder .infoorderNote {
      margin-bottom: 5px; }
    .wrap_complete_cart .infoorder div {
      display: block;
      overflow: hidden;
      padding-left: 10px; }
      .wrap_complete_cart .infoorder div strong {
        color: #c10017; }
    .wrap_complete_cart .infoorder div:before {
      content: "•";
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      font-size: 12px;
      color: #999;
      margin: 0 3px 0 -10px; }
    .wrap_complete_cart .infoorder .group_delivery {
      position: relative;
      overflow: hidden; }
      .wrap_complete_cart .infoorder .group_delivery .turn_delivery {
        background: #fff;
        border-radius: 2px;
        border-left: 3px solid #4a90e2;
        padding: 7px 5px 7px 8px;
        margin: 7px 0 0;
        border-radius: 4px; }
  .wrap_complete_cart .titlebill {
    display: none;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    background: #f0f0f0;
    text-transform: uppercase;
    padding: 0 10px; }
  .wrap_complete_cart .title_head_product {
    padding: 10px 20px 5px;
    font-size: 14px;
    font-weight: 600;
    border-top: 4px solid #d6d6d6; }
  .wrap_complete_cart .callship {
    display: block;
    margin: 15px; }
  .wrap_complete_cart .listorder {
    padding: 0; }
    .wrap_complete_cart .listorder li {
      min-height: 50px;
      margin-top: 5px;
      margin-bottom: 5px;
      list-style: none; }
      .wrap_complete_cart .listorder li .colimg {
        float: left;
        overflow: hidden;
        width: 85px;
        text-align: center; }
        .wrap_complete_cart .listorder li .colimg a {
          display: block;
          overflow: hidden; }
        .wrap_complete_cart .listorder li .colimg img {
          display: inline-block;
          width: 75px;
          height: auto;
          margin: 5px 0 10px; }
      .wrap_complete_cart .listorder li .colinfo {
        display: inline-block;
        overflow: visible;
        width: 470px;
        padding-left: 5px; }
        .wrap_complete_cart .listorder li .colinfo a {
          font-weight: bold;
          color: #212529; }
        .wrap_complete_cart .listorder li .colinfo strong.price-line {
          display: block;
          color: #999;
          text-decoration: line-through; }
        .wrap_complete_cart .listorder li .colinfo strong {
          font-weight: normal;
          font-size: 14px;
          color: #c10017;
          float: right;
          clear: both; }
      .wrap_complete_cart .listorder li .promotion.choose {
        overflow: visible !important;
        margin-top: 0 !important;
        float: left; }
        .wrap_complete_cart .listorder li .promotion.choose .title {
          display: block; }
          .wrap_complete_cart .listorder li .promotion.choose .title label {
            cursor: pointer;
            position: relative; }
          .wrap_complete_cart .listorder li .promotion.choose .title label:after {
            content: "";
            width: 0;
            right: -20px;
            border-top: 6px solid #288ad6;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            display: inline-block;
            vertical-align: middle;
            float: right;
            position: absolute;
            top: 5px; }
  .wrap_complete_cart .buymoresuccinst {
    display: block;
    padding: 15px;
    font-size: 14px;
    margin-top: 30px; }

.main-navigation::before,
.main-navigation::after {
  display: none; }

@media (max-width: 780px) {
  .wrap_complete_cart {
    width: 100%;
    margin-bottom: 5px; }
    .wrap_complete_cart .title_head_product {
      padding-left: 15px; }
    .wrap_complete_cart .thank {
      padding-left: 15px; }
    .wrap_complete_cart .infoorder {
      margin-left: 15px; }
    .wrap_complete_cart .listorder {
      padding: 0 15px;
      margin: 0; }
      .wrap_complete_cart .listorder li .colimg {
        width: 100%; }
      .wrap_complete_cart .listorder li .colinfo {
        width: 100%;
        padding-left: 0; }
        .wrap_complete_cart .listorder li .colinfo .mb-pricebox strong {
          width: 100%;
          float: none;
          text-align: center;
          display: block; }
    .wrap_complete_cart .buymoresuccinst {
      margin-top: 0;
      padding: 5px 15px; }
  .container {
    margin-top: 0; } }
