.main {
  padding: 0;
  position: relative;
}
.main .category,
.main .category-mobile {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 235px;
  display: inline-block;
  vertical-align: top;
  background: #fff;
}
.main .category .title,
.main .category-mobile .title {
  background: #189eff;
  color: #fff;
  text-align: center;
  display: block;
  text-transform: uppercase;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
}

.main .category .listcate span,
.main .category .brand span,
.main .category-mobile .listcate span,
.main .category-mobile .brand span {
  text-transform: uppercase;
  background: #fff;
  color: #189eff;
  width: 100%;
  display: block;
  font-weight: bold;
}
.main .category .listcate ul,
.main .category .brand ul,
.main .category-mobile .listcate ul,
.main .category-mobile .brand ul {
  margin-top: 14px;
  padding: 0 10px;
  visibility: visible;
  height: 100%;
  transition: 0.2s linear;
  overflow: hidden;
}
.main .category .listcate ul li,
.main .category .brand ul li,
.main .category-mobile .listcate ul li,
.main .category-mobile .brand ul li {
  list-style: none;
  padding: 7px 0px 7px 0px;
  font-weight: bold;
}
.main .category .listcate ul li a,
.main .category .brand ul li a,
.main .category-mobile .listcate ul li a,
.main .category-mobile .brand ul li a {
  color: #212529;
}
.main .category .listcate ul li a:hover,
.main .category .brand ul li a:hover,
.main .category-mobile .listcate ul li a:hover,
.main .category-mobile .brand ul li a:hover {
  color: #189eff;
}
.main .category .brand ul li a.active,
.main .category .listcate ul li a.active,
.main .category-mobile .brand ul li a.active,
.main .category-mobile .listcate ul li a.active {
  color: #007bff;
}
.main .category .listcate .main-cate,
.main .category .brand .main-cate,
.main .category-mobile .listcate .main-cate,
.main .category-mobile .brand .main-cate {
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  font-size: 15px;
}
.main .category .listcate .main-cate::after,
.main .category .brand .main-cate::after,
.main .category-mobile .listcate .main-cate::after,
.main .category-mobile .brand .main-cate::after {
  position: absolute;
  content: "\f068";
  right: 10px;
  height: 100%;
  font-size: 12px;
  font-weight: bold;
  transition: 0.2s linear;
  font-family: "Font Awesome 5 Free";
}
.main .category .listcate .expand.main-cate::after,
.main .category .brand .expand.main-cate::after,
.main .category-mobile .listcate .expand.main-cate::after,
.main .category-mobile .brand .expand.main-cate::after {
  content: "\f067";
}
.main .category-mobile {
  display: none;
}
.main .item-list {
  width: calc(100% - 240px);
  display: inline-block;
  vertical-align: top;
}
.main .item-list .partner-slider {
  padding: 10px;
  margin-top: 5px;
  background: #9cecfb;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0052d4, #65c7f7, #9cecfb);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0052d4, #65c7f7, #9cecfb);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main .item-list .partner {
  background: #fff;
}
.main .item-list .banner {
  margin-bottom: 10px;
}
.main .item-list .banner img {
  width: 100%;
}
.main .item-list .partner {
  margin-bottom: 10px;
}
.main .item-list .partner img {
  width: 100%;
  height: 50px;
}
.main .item-list .list .top {
  display: block;
  background: #f0f0f0;
}
.main .item-list .list .top span {
  display: inline-block;
  padding: 20px 10px;
  font-size: 18px;
  font-weight: bold;
  color: #189eff;
  text-transform: uppercase;
}
.main .item-list .list .top .dropdownlist-option {
  display: inline-block;
  width: calc(100% - 230px);
  text-align: right;
}
.main .item-list .list .top .dropdownlist-option .brand-option,
.main .item-list .list .top .dropdownlist-option .sort-option {
  display: inline-block;
  padding-right: 5px;
  border-radius: 3px;
  height: 35px;
  border: solid 1px #c1bbbb;
}
.main .item-list .list .bottom {
  background: #fff;
  padding-bottom: 30px;
}
.main .item-list .list .bottom .wid-4 {
  width: 24%;
  display: inline-block;
}
.main .item-list .list .bottom .pro-item {
  position: relative;
  margin-top: 40px;
}
.main .item-list .list .bottom .pro-item .img-pro {
  overflow: hidden;
  text-align: center;
  margin: 10px;
  min-height: 172px;
}
.main .item-list .list .bottom .pro-item .img-pro img {
  max-height: 180px;
  margin: auto;
}
.main .item-list .list .bottom .pro-item .pro-name {
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 12px;
  overflow: hidden;
  text-align: center;
}
.main .item-list .list .bottom .pro-item .pro-name a {
  color: #212529;
}
.main .item-list .list .bottom .pro-item .f-price {
  color: #8a8a8a;
  font-size: 0.9em;
  line-height: 15px;
  text-align: center;
}
.main .item-list .list .bottom .pro-item .m-price {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.main .item-list .list .bottom .pro-item span {
  height: 20px;
  display: block;
}
.main .item-list .list .bottom .pro-item .saleoff {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 10px;
  font-size: 13px;
  font-weight: bold;
  padding: 7px 1px;
  color: #fff;
  text-align: center;
  display: inline-block;
  height: 44px;
  border-radius: 2px;
  background: url(../images/price-tag-2.png) no-repeat;
  background-size: cover;
  width: 36px;
}
.main .item-list .list .pagination {
  width: 100%;
  display: block;
  background: #f0f0f0;
  margin: auto;
  text-align: center;
}
.main .item-list .list .pagination a {
  display: inline-block;
  margin-right: 5px;
  border: solid 1px #c1bbbb;
  font-size: 14px;
  color: #212529;
  display: inline-block;
  margin: 10px 5px;
  padding: 5px 10px;
}
.main .item-list .list .pagination a i {
  font-size: 16px;
}
.main .item-list .list .pagination a:hover {
  background: #189eff;
  color: #fff;
}
.main .item-list .list .pagination b {
  display: inline-block;
  margin-right: 5px;
  background: #189eff;
  border: solid 1px #c1bbbb;
  color: #fff;
  font-size: 14px;
  margin: 10px 5px;
  padding: 5px 10px;
}
.sub_categories_page {
  font-weight: 400;
  color: #000;
  font-size: 14px;
}
.sub_categories_page h4 {
  font-weight: 400;
  color: #000;
  font-size: 14px;
}
.sub_categories_page {
  width: 100%;
}
.sub_categories_page .columns {
  /* float: left; */
  display: inline;
  margin-left: 0;
  margin-right: 0;
  width: 19%;
  display: inline-block;
  padding: 0 5px;
  margin: 0;
  vertical-align: top;
}
.sub_categories_page ul {
  margin-left: 0;
  margin: 0;
  padding: 0;
}
.sub_categories_page .subcate_item {
  position: relative;
  margin: 0 10px 20px;
  text-align: center;
}
.subcate_img img {

  min-width: 100px;
  width: 100%;
}
.break-line {
  background-color: #f0f0f0;
  height: 3px;
}
/*des*/
.des {
  font-weight: normal;
  padding: 15px;
}

/*scroll*/
#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 5px;
  background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #189eff;
  border-radius: 10px;
}
.scrollbar
{
	float: left;
	height: 300px;
	width: 100%;
	background: #FFF;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.force-overflow
{
	min-height: 300px;
}
/*checkbox brand*/
.select-filter-item input:checked~.filter-check:after {
  display: block;
}
.select-filter-item .filter-check:after {
  left: 3px;
  top: -1px;
  width: 5px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.select-filter-item input:checked~.filter-check {
  background-color: #2196f3;
}

.select-filter-item:hover input~.filter-check, .select-filter-item.x-hover input~.filter-check {
  background-color: #fff;
}
.filter-check {
  position: absolute;
  top: 1px;
  left: 10px;
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 1px solid #2196f3;
  border-radius: 3px;
}
/*danh muc san pham*/
.main .category .listcate ul.list-catalog-sub {
  margin-top: 0;
}
.main .category .listcate .catalog-sub-item {
  position: relative;
}
.main .category .listcate .catalog-sub-item-link {
  font-size: 14.5px;
  padding: 6px 0;
  display: block;
  line-height: 23.1565px;
}
.main .category .listcate .catalog-item-has-children .catalog-sub-item-link.arrow:before {
  background: url(../images/arrow-right-gray.png)no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  content: "";
  right: 3px;
  top: 11px;
  margin-top: 7px;
  background-size: 10px;
}
.main .category .listcate .icon-sub-item {
  position: absolute;
  left: 10px;
}
.main .category .listcate .icon-sub-item img {
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
.main .category .listcate .catalog-item-has-children .catag-title-sub-item {
  padding-right: 15px;
}
.main .category .listcate .catag-title-sub-item {
  color: #000;
  padding-right: 5px;
  display: table-cell;
}
.main .category .listcate .count-among {
  color: #999;
  font-size: 14px;
}
.main .category .listcate .list-catalog-sub-children {
  width: 228px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 230px;
  z-index: 99;
  border: 1px solid #eee;
  display: none;
}
.main .category .listcate .list-catalog-sub-children {
  background-color: #fff;
  padding-left: 40px;
  display: none;
}
.main .category .listcate .catalog-sub-item.son1, .main .category .listcate .catalog-sub-item.son3 {
  position: relative;
}
.main .category .listcate .catalog-sub-item.son1 {
  position: relative;
}
.main .category .listcate .catalog-sub-item {
  position: relative;
}
.main .category .listcate .catalog-sub-item-link {
  font-size: 14.5px;
  padding: 6px 0;
  display: block;
  line-height: 23.1565px;
}
.main .category .listcate .list-catalog-sub-children .icon-sub-item {
  display: none;
}
.main .category .listcate .list-catalog-sub-children .catag-title-sub-item {
  padding-left: 10px;
}

.main .category .listcate .catalog-item-has-children .catag-title-sub-item {
  padding-right: 15px;
}
.main .category .listcate .catalog-item-has-children:hover .catalog-sub-item-link.arrow:before, .main .category .listcate .catalog-item-has-children.x-hover .catalog-sub-item-link.arrow:before {
  background: url(../images/arrow-right.png)no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  content: "";
  right: 3px;
  top: 11px;
  background-size: 10px;
}
.main .category .listcate .catalog-sub-item:hover .list-catalog-sub-children, .main .category .listcate .catalog-sub-item.x-hover .list-catalog-sub-children {
  display: block;
  padding-left: 0;
  box-shadow: 3px 1px 4px 0 #33333340;
}





@media (max-width: 780px) {
  .main .category {
    display: none;
  }
  .main .category-mobile {
    display: block;
    margin-top: 5px;
    width: 100%;
    margin-bottom: 5px;
  }
  .main .category-mobile .main-cate::after {
    position: absolute;
    content: "\f068";
    right: 10px;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
    transition: 0.2s linear;
    font-family: "Font Awesome 5 Free";
  }
  .main .category-mobile .expand.main-cate::after {
    content: "\f067";
  }
  .main .item-list {
    width: 100%;
  }
  .main .item-list .list .top .dropdownlist-option {
    width: 100%;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 15px;
  }
  .main .item-list .list .top span {
    padding: 0;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  
  .main .item-list .list .bottom .wid-4 {
    width: calc(50% - 15px);
    padding: 6px;
    margin: 6px;
    color: black;
    border-bottom: solid 1px #cdcdcd;
  }
  .sub_categories_page {
    /* display: none; */
    padding: 0 10px;
  }
  .break-line {
    display: none;
  }
  .sub_categories_page .columns {
    /* float: left; */
    display: inline;
    margin-left: 0;
    margin-right: 0;
    width: 32%;
    display: inline-block;
    padding: 0 5px;
    margin: 0;
    vertical-align: top;
  }
}
@media (max-width: 400px){
  .main .item-list .list .bottom .pro-item .img-pro img {
    max-height: 150px;
    margin: auto;
  }
}
