@import "variable.scss";

.main {
  padding: 0;
  position: relative;

  .category, .category-mobile {
    width: 235px;
    display: inline-block;
    vertical-align: top;
    background: $color-white;

    .title {
      background: $color-blue;
      color: $color-white;
      text-align: center;
      display: block;
      text-transform: uppercase;
      padding: 15px;
      font-weight: bold;
      font-size: 14px;
    }

    .listcate,
    .brand {
      span {
        text-transform: uppercase;
        padding: 10px;
        background: $color-gray;
        color: $color-blue;
        width: 100%;
        display: block;
        font-weight: bold;
      }

      ul {
        margin: 0;
        padding: 0 10px;
        visibility:visible;
        height: 100%;
        transition: 0.2s linear;
        height: 380px;

        li {
          list-style: none;
          padding: 10px;
          font-weight: bold;

          a {
            color: $color-black;
          }

          a:hover {
            color: $color-blue;
          }
        }
      }
    }

    .listcate,
    .brand {
      .main-cate {
        position: relative;
        cursor: pointer;
      }

      .main-cate::after {
        position: absolute;
        content: "\f068";
        right: 10px;
        height: 100%;
        font-size: 12px;
        font-weight: bold;
        transition: 0.2s linear;
        font-family: "Font Awesome 5 Free";
      }

      .expand.main-cate::after{
        content: "\f067";
      }
    }
  }

  .category-mobile{
    display: none;
  }

  .item-list {
    width: calc(100% - 240px);
    display: inline-block;
    vertical-align: top;

    .partner {
      background: $color-white;
    }

    .banner {
      margin-bottom: 10px;

      img {
        width: 100%;
      }
    }

    .partner {
      margin-bottom: 10px;
      img {
        width: 100%;
        height: 50px;
      }
    }

    .list {
      .top {
        display: block;
        background: $color-gray;

        span {
          display: inline-block;
          padding: 20px 10px;
          font-size: 14px;
          font-weight: bold;
          color: $color-blue;
          text-transform: uppercase;
        }

        .dropdownlist-option {
          display: inline-block;
          width: calc(100% - 182px);
          text-align: right;

          .brand-option,
          .sort-option {
            display: inline-block;
            padding-right: 5px;
            border-radius: 3px;
            height: 35px;
            border: solid 1px $color-gray-bold;
          }

          .sort-option {
          }
        }
      }

      .bottom {
        background: $color-white;
        padding-bottom: 30px;
        .wid-4 {
          width: 24%;
          display: inline-block;
        }
        .pro-item {
          position: relative;
          margin-top: 40px;
          .img-pro {
            overflow: hidden;
            text-align: center;
            margin: 10px;
            min-height: 172px;

            img {
              max-height: 180px;
              margin: auto;
            }
          }

          .pro-name {
            font-size: 12px;
            line-height: 13px;
            margin-bottom: 12px;
            overflow: hidden;
            text-align: center;
            a {
              color: $color-black;
            }
          }

          .f-price {
            color: #8a8a8a;
            font-size: 0.9em;
            line-height: 15px;
            text-align: center;
          }

          .m-price {
            font-size: 14px;
            font-weight: 700;
            text-align: center;
          }

          span {
            height: 20px;
            display: block;
          }

          .saleoff {
            position: absolute;
            top: 0;
            right: 0;
            width: 52px;
            height: 24px;
            color: #fff;
            font-size: 1.2em;
            background: url("../images/price_tag.png") no-repeat;
            text-align: right;
            padding-right: 5px;
          }
        }
      }

      .pagination {
        width: 100%;
        display: block;
        background: $color-gray;
        margin: auto;
        text-align: center;

        a {
          display: inline-block;
          margin-right: 5px;
          border: solid 1px $color-gray-bold;
          font-size: 14px;
          color: $color-black;
          display: inline-block;
          margin: 10px 5px;
          padding: 5px 10px;

          i {
            font-size: 16px;
          }
        }

        a:hover {
          background: $color-blue;
          color: $color-white;
        }

        b {
          display: inline-block;
          margin-right: 5px;
          background: $color-blue;
          border: solid 1px $color-gray-bold;
          color: $color-white;
          font-size: 14px;
          margin: 10px 5px;
          padding: 5px 10px;
        }
      }
    }
  }
}



@media (max-width: 780px) {
  .main {
    .category {
      display: none;
    }

    .category-mobile{
      display: block;
      margin-top: 5px;
      width: 100%;
      margin-bottom: 5px;

      .main-cate::after {
        position: absolute;
        content: "\f068";
        right: 10px;
        height: 100%;
        font-size: 12px;
        font-weight: bold;
        transition: 0.2s linear;
        font-family: "Font Awesome 5 Free";
      }

      .expand.main-cate::after{
        content: "\f067";
      }
    }

    .item-list {
      width: 100%;
      .list {
        .top {
          .dropdownlist-option {
            width: 100%;
            text-align: left;
            padding-left: 15px;
            margin-bottom: 15px;
          }

          span {
            padding: 0;
            padding-left: 15px;
            padding-top: 15px;
            padding-bottom: 5px;
          }
        }

        .bottom {
          .wid-4 {
            width: calc(100% - 30px);
            padding: 15px;
            margin: 15px;
            color: black;
            border-bottom: solid 1px #cdcdcd;
          }
        }
      }
    }
  }
}
