$color-blue: rgb(24, 158, 255);
$color-blue-bold:#045e9f;
$color-green: #00b03e;
$color-green-light: #00aa74;
$color-gray:#f0f0f0;
$color-gray-bold:#c1bbbb;
$color-white: #fff;
$color-black: #212529;
$color-red: #FF0000;
$color-yellow: #f3e411;
